<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <node name="serial_node" pkg="rosserial_python" type="serial_node.py" output="screen">
	<param name="port" value="/dev/ttyACM0"/>
    </node>    
    <node pkg="ros_asv_control" type="odom_tf_pub.py" name="Odom_Publisher" output="screen"/>
    <include file="$(find freenect_launch)/launch/freenect.launch"/>
    <include file="$(find ros_asv_control)/launch/dep2las.launch"/>
    <include file="$(find ros_asv_control)/launch/tf_pub.launch"/>
    <!--node pkg="tf" type="static_transform_publisher" name="link1_broadcaster" args="0 0 0 0 0 0 Kinect_Sensor_1 camera_link 0" /> 
    <include file="$(find ros_asv_control)/launch/freenect_throttle.launch"/-->
</launch>
