<launch>
  <arg default="$(find ros_asv_description)/urdf/ros_asv.xacro" name="model"/>
  <param command="$(find xacro)/xacro $(arg model)" name="robot_description"/>
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher"/>
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>
</launch>
